<!DOCTYPE html>
<html>
<meta charset="utf-8"/>
<script src="angular.min.js"></script>
<title>İşaret Dili - Angular</title>
<style>
  li { float:left; list-style:none; position:relative; border:1px solid #eee; height:90px; }
  .harf {
    position: absolute;
    bottom: -15px;
    left: 55px;
  }
</style>
</head>
<div ng-app="ngUygulamam" ng-controller="ngKontrol">
  İşaret dili ile göstermek istediğiniz içeriği giriniz;<br>
  <input type="text" size="50" ng-model="cumle"/>

  <div class="gosterim">
    <div ng-repeat="kelime in cumle.split(' ') track by $index" style="display:block; height: 130px">
      <li ng-repeat="harf in kelime track by $index">
        <img src="{{ imgRoot + escHarf(harf)}}.gif"/>
        <div class="harf">{{harf}}</div>
      </li>
    </div>
  </div>
</div>
<script src="app.js"></script>
</body>
</html>
